spring:
  application:
    name: mod-search
  jackson:
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  elasticsearch:
    rest:
      username: ${ELASTICSEARCH_USERNAME:}
      password: ${ELASTICSEARCH_PASSWORD:}
      uris: ${ELASTICSEARCH_URL:http://${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}}
  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka}:${KAFKA_PORT:9092}
    consumer:
      max-poll-records: 50
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}

  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  liquibase:
    change-log: classpath:changelog/changelog-master.xml
  cache:
    cache-names:
      - es-indices
      - identifier-types
      - alternative-title-types
      - system-user-cache
      - tenant-languages
      - tenant-features
    caffeine:
      spec: maximumSize=500,expireAfterAccess=3600s

application:
  environment: ${ENV:folio}
  search-config:
    initial-languages: ${INITIAL_LANGUAGES:eng}
    search-features:
      search.all.fields: ${SEARCH_BY_ALL_FIELDS_ENABLED:false}
  system-user:
    username: mod-search
    password: ${SYSTEM_USER_PASSWORD:Mod-search-1-0-0}
    lastname: System
    permissionsFilePath: permissions/mod-search.csv
  kafka:
    retry-interval-ms: ${KAFKA_RETRY_INTERVAL_MS:2000}
    retry-delivery-attempts: ${KAFKA_RETRY_DELIVERY_ATTEMPTS:6}
    listener:
      events:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${application.environment}\.)(.*\.)inventory\.(instance|holdings-record|item)}
        group-id: ${application.environment}-mod-search-events-group
      authorities:
        concurrency: ${KAFKA_AUTHORITIES_CONCURRENCY:1}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${application.environment}\.)(.*\.)inventory\.authority}
        group-id: ${application.environment}-mod-search-authorities-group

server.port: 8081
management.endpoints.web:
  base-path: /admin
  exposure.include: info,health,liquibase,threaddump,heapdump
