spring:
  application:
    name: mod-search
  jackson:
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  elasticsearch:
    rest:
      username: ${ELASTICSEARCH_USERNAME:}
      password: ${ELASTICSEARCH_PASSWORD:}
      uris: http://${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}
  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka}:${KAFKA_PORT:9092}
    consumer:
      max-poll-records: 200
  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  liquibase:
    change-log: classpath:changelog/changelog-master.xml

application:
  search-config:
    initial-languages: ${INITIAL_LANGUAGES:eng}
  system-user:
    username: mod-search
    password: ${SYSTEM_USER_PASSWORD:Mod-search-1-0-0}
    lastname: System
    permissionsFilePath: classpath:permissions/mod-search.csv
  kafka:
    listener:
      instances:
        concurrency: 1
        topics: inventory.instance
        group-id: mod-search-instances-group
      events:
        concurrency: 1
        topics: inventory.instance,inventory.item,inventory.holdings-record
        group-id: mod-search-events-group

server.port: 8081
management.endpoints.web:
  base-path: /admin
  exposure.include: info,health,liquibase,threaddump,heapdump
