spring:
  application:
    name: mod-search
  jackson:
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  elasticsearch:
    username: ${ELASTICSEARCH_USERNAME:}
    password: ${ELASTICSEARCH_PASSWORD:}
    uris: ${ELASTICSEARCH_URL:http://${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}}
  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka}:${KAFKA_PORT:9092}
    consumer:
      max-poll-records: 50
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
    producer:
      acks: all
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        retries: 5
  datasource:
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
  liquibase:
    change-log: classpath:changelog/changelog-master.xml
  cache:
    cache-names:
      - es-indices
      - reference-data-cache
      - system-user-cache
      - tenant-languages
      - tenant-features
    caffeine:
      spec: maximumSize=500,expireAfterWrite=3600s

application:
  environment: ${ENV:folio}
  search-config:
    initial-languages: ${INITIAL_LANGUAGES:eng}
    max-supported-languages: ${MAX_SUPPORTED_LANGUAGES:5}
    search-features:
      search-all-fields: ${SEARCH_BY_ALL_FIELDS_ENABLED:false}
      browse-cn-intermediate-values: ${BROWSE_CN_INTERMEDIATE_VALUES_ENABLED:false}
    indexing:
      instance-subjects:
        retry-attempts: ${INSTANCE_SUBJECTS_INDEXING_RETRY_ATTEMPTS:3}
  query:
    properties:
      request-timeout: ${SEARCH_QUERY_TIMEOUT:25s}
      call-number-browse-optimization-enabled: ${CN_BROWSE_OPTIMIZATION_ENABLED:true}
  cache:
    call-number-browse-ranges-cache-spec: maximumSize=50,expireAfterWrite=60s
  system-user:
    username: mod-search
    password: ${SYSTEM_USER_PASSWORD:Mod-search-1-0-0}
    lastname: System
    permissionsFilePath: permissions/mod-search.csv
  stream-ids:
    scroll-query-size: ${SCROLL_QUERY_SIZE:1000}
    retry-interval-ms: ${STREAM_ID_RETRY_INTERVAL_MS:1000}
    retry-attempts: ${STREAM_ID_RETRY_ATTEMPTS:3}
    core-pool-size: ${STREAM_ID_CORE_POOL_SIZE:2}
    core-max-size: ${STREAM_ID_MAX_POOL_SIZE:2}
    core-queue-capacity: ${STREAM_ID_QUEUE_CAPACITY:500}
  kafka:
    retry-interval-ms: ${KAFKA_RETRY_INTERVAL_MS:2000}
    retry-delivery-attempts: ${KAFKA_RETRY_DELIVERY_ATTEMPTS:6}
    topics:
      - name: search.instance-contributor
        numPartitions: ${KAFKA_EVENT_TOPICS_PARTITIONS:50}
        replicationFactor: ${KAFKA_EVENT_TOPICS_REPLICATION_FACTOR:}
    listener:
      events:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:(${application.environment}\.)(.*\.)inventory\.(instance|holdings-record|item|bound-with)}
        group-id: ${application.environment}-mod-search-events-group
      authorities:
        concurrency: ${KAFKA_AUTHORITIES_CONCURRENCY:1}
        topic-pattern: ${KAFKA_AUTHORITIES_CONSUMER_PATTERN:(${application.environment}\.)(.*\.)inventory\.authority}
        group-id: ${application.environment}-mod-search-authorities-group
      contributors:
        concurrency: ${KAFKA_CONTRIBUTORS_CONCURRENCY:1}
        topic-pattern: ${KAFKA_CONTRIBUTORS_CONSUMER_PATTERN:(${application.environment}\.)(.*\.)search\.instance-contributor}
        group-id: ${application.environment}-mod-search-contributors-group

server.port: 8081
management.endpoints.web:
  base-path: /admin
  exposure.include: info,health,liquibase,threaddump,heapdump
