openapi: 3.0.0
info:
  title: Search API
  version: v1
  description: Search API

servers:
  - url: https://falcon.ci.folio.org/search/

paths:
  /instances:
    get:
      operationId: searchInstances
      description: Get a list of instances for CQL query
      parameters:
        - $ref: '#/components/parameters/cql-search-request'
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      responses:
        '200':
          description: 'Instance search result'
          content:
            application/json:
              example: examples/searchResult.sample
              schema:
                $ref: '#/components/schemas/searchResult'
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /instances/ids:
    get:
      operationId: getInstanceIds
      description: Get a list of instance ids for CQL query
      parameters:
        - $ref: '#/components/parameters/cql-query'
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      responses:
        '200':
          description: 'Instance ids as json stream'
          content:
            application/json:
              example: examples/ResourceIdsResult.sample
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /instances/facets:
    get:
      operationId: getFacets
      description: Provides list of facets for instance
      parameters:
        - $ref: '#/components/parameters/cql-facet-request'
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      responses:
        '200':
          description: 'Facet search result'
          content:
            application/json:
              example: examples/facetResult.sample
              schema:
                $ref: '#/components/schemas/facetResult'
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /index/indices:
    post:
      operationId: createIndices
      description: Creates indices for passed resource name and tenant id in request header.
      parameters:
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      requestBody:
        content:
          application/json:
            example: examples/indexRequestBody.sample
            schema:
              $ref: '#/components/schemas/indexRequestBody'
      responses:
        '200':
          description: Response with created indices and status (error message will be present if operation failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folioCreateIndexResponse'
        '400':
          $ref: '#/components/responses/badRequestResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /index/mappings:
    post:
      operationId: updateMappings
      description: Creates mappings for passed resource name and tenant id in request header.
      parameters:
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/indexRequestBody'
      responses:
        '200':
          description: Response with created indices and status (error message will be present if operation failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folioIndexOperationResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /index/records:
    post:
      operationId: indexRecords
      description: Indexes the records into elasticsearch.
      requestBody:
        content:
          application/json:
            example: examples/indexRecordRequestBody.sample
            schema:
              $ref: '#/components/schemas/indexRecordRequestBody'
      responses:
        '200':
          description: Response with created indices and status (error message will be present if operation failed)
          content:
            application/json:
              example: examples/indexRecordResponse.sample
              schema:
                $ref: '#/components/schemas/folioIndexOperationResponse'
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /index/inventory/reindex:
    post:
      operationId: reindexInventoryRecords
      description: Initiates reindex for the inventory records
      requestBody:
        content:
          application/json:
            example: examples/reindexRequest.sample
            schema:
              $ref: '#/components/schemas/reindexRequest'
      parameters:
        - $ref: '#/components/parameters/x-okapi-tenant-header'
      responses:
        '200':
          description: Reindex operation has been started
          content:
            application/json:
              schema:
                $ref: schemas/reindexJob.json
        '500':
          $ref: '#/components/responses/internalServerErrorResponse'

  /config/languages:
    post:
      operationId: createLanguageConfig
      description: Save languages that will be used for analyzers
      requestBody:
        content:
          application/json:
            schema:
              $ref: schemas/languageConfig.json
      responses:
        '200':
          description: Language support has been added.
          content:
            application/json:
              schema:
                $ref: schemas/languageConfig.json
        '422':
          description: Validation error for the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    get:
      operationId: getAllLanguageConfigs
      description: Get all supported languages
      responses:
        '200':
          description: All supported languages
          content:
            application/json:
              schema:
                $ref: schemas/languageConfigs.json

  /config/languages/{code}:
    put:
      operationId: updateLanguageConfig
      description: Update language config settings
      parameters:
        - $ref: '#/components/parameters/language-code'
      requestBody:
        content:
          application/json:
            schema:
              $ref: schemas/languageConfig.json
      responses:
        '200':
          description: Language support has been added.
          content:
            application/json:
              schema:
                $ref: schemas/languageConfig.json
        '422':
          description: Validation error for the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      operationId: deleteLanguageConfig
      description: Delete all supported languages
      parameters:
        - $ref: '#/components/parameters/language-code'
      responses:
        '204':
          description: Language support has been removed
        '404':
          description: No language support is found

components:
  schemas:
    instance:
      $ref: schemas/instance.json
    item:
      $ref: schemas/item.json
    indexRequestBody:
      $ref: schemas/indexRequestBody.json
    folioCreateIndexResponse:
      $ref: schemas/folioCreateIndexResponse.json
    folioIndexOperationResponse:
      $ref: schemas/folioIndexOperationResponse.json
    resourceEventBody:
      $ref: schemas/resourceEventBody.json
    indexRecordRequestBody:
      type: array
      items:
        $ref: '#/components/schemas/resourceEventBody'
    searchResult:
      $ref: schemas/response/searchResult.json
    facetResult:
      $ref: schemas/response/facetResult.json
    resourceIds:
      $ref: schemas/response/resourceIds.json
    errorResponse:
      $ref: schemas/errors.json
    cqlSearchRequest:
      $ref: schemas/request/cqlSearchRequest.json
    cqlFacetRequest:
      $ref: schemas/request/cqlFacetRequest.json
    reindexRequest:
      $ref: schemas/request/reindexRequest.json

  responses:
    badRequestResponse:
      description: Validation errors
      content:
        application/json:
          example: examples/validationErrorResponse.sample
          schema:
            $ref: "#/components/schemas/errorResponse"
    internalServerErrorResponse:
      description: When unhandled exception occurred during code execution, e.g. NullPointerException
      content:
        application/json:
          example: examples/unknownError.sample

  parameters:
    cql-query:
      name: query
      in: query
      required: true
      description: A CQL query string with search conditions.
      schema:
        type: string
    language-code:
      name: code
      in: path
      required: true
      description: Language code
      schema:
        type: string
        pattern: '[a-zA-Z]{3}'
    cql-search-request:
      name: cqlSearchRequest
      in: query
      description: Search request parameters(query, size, limit and etc.) as object.
      required: true
      schema:
        $ref: '#/components/schemas/cqlSearchRequest'
    cql-facet-request:
      name: cqlFacetRequest
      in: query
      description: Facet request parameters (cql query, facet names) as object.
      required: true
      schema:
        $ref: '#/components/schemas/cqlFacetRequest'
    x-okapi-tenant-header:
      name: x-okapi-tenant
      in: header
      description: X-Okapi-Tenant header value
      required: true
      schema:
        type: string
